header
    display: block
    width: 100%
    nav
        display: flex
        justify-content: space-between
        margin-top: 10px
        margin-bottom: 10px
        .logo
            width: 135px
        b
            display: inline-block
            padding-top: 12px
            align-content: right
    .gorila-display
        height: 150px
        background-image: url('./../../assets/img/header/gorila-3-1.png')
        background-size: 100% auto
        background-position: center 22%
    
@media screen and (max-width: 1100px)
    nav
        b 
            font-size: .9rem
            width: 130px
            text-align: right
            margin-top: -.2rem
